<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webapp client DAM</title>
<script src="./script/jquery-3.5.1.min.js"></script>
<script src="./script/json-viewer.js"></script>
<link rel="stylesheet" href="./style/json-viewer.css" type="text/css">
<script src="./script/dams.js"></script>
</head>
<body>
	<div body-wrapper>
		<h1>Demo client DAM</h1>
		<h2> ....   AFFICHAGE des DAMS ... </h2>
			<input type="hidden" id="token" th:value="${token}" />
			<div class="parsed-jwt-display">
			<div class="dams" id="dams"></div>
		</div>
		</div>
</body>
</html>
