<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webapp client DAM</title>
<script src="script/jquery-3.5.1.min.js"></script>
<!-- <script src="script/jose/jose.js"></script>-->
<script src="script/json-viewer.js"></script>
<link rel="stylesheet" href="style/json-viewer.css">
<script src="script/test.js"></script>
</head>
<body>
	<div body-wrapper>
		<h1>Page POST échange de token</h1>
		<div class="objectif">
			<p>Application métier de démonstration .... jeton PSC => jeton
				d'API</p>
		</div>
		<div class="token">
			<h3>Vous êtes authentifié (en possession d'un jeton d'API)</h3>
			<p>.. Votre jeton PSC a été échangé contre un jeton d'API par
				Apache..</p>
			<div class="token-header">
				<h4>HEADER</h4>
				<p>
					<span th:text="${tokenHeader}" />
				</p>

			</div>
			<div class="token-body">
				<h4>BODY</h4>
				<p>
					<span th:text="${tokenBody}" />
				</p>

			</div>
			<div class="date-friendly">
				<p>
					date d'expiration: <span
						th:text="${#temporals.format(expDate, 'dd-MM-yyyy HH:mm:ss')}" />
				</p>
				<p>
					date d'émission: <span
						th:text="${#temporals.format(iatDate, 'dd-MM-yyyy HH:mm:ss')}" />
				</p>
			</div>
		</div>
		<div>
			<h2>Click: appel à l'API, visu des DAMs</h2>
			<button class="apicall_button" onclick="window.location.href='/api'">Appel API</button>
		</div>
		<input type="hidden" id="token" th:value="${token}" />
		<h2>AFFICHAGE du jeton décodé avec Javascript</h2>
		<h3>https://www.cssscript.com/minimal-json-data-formatter-jsonviewer/#google_vignette</h3>
		<div class="parsed-jwt-display">
			<div class="header" id="json-header"></div>
			<div class="header" id="json-body"></div>
		</div>
	</div>
</body>
</html>
