<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webapp client DAM</title>
     <script type="text/javascript" src="/script/jquery-3.5.1.min.js"></script>
     <script type="text/javascript" src="/script/app.js"></script>
     
<body>
<div body-wrapper>
<h1> PAGE d'accueil Utilisateur connecté avec PSC</h1>
<div class="objectif">
<p>Application métier de démonstration .... </p>
</div>
<div class="container">
            <h3> Vous êtes connecté avec un jeton PSC</h3>
            <p>Cliquer sur le bouton pour faire l'échange de jeton (PSC en jeton d'API)</p>
            <button class="exchange_button" onclick="window.location.href='/exchange'">Echange de jeton</button>
        </div>
</div>

</body>
</html>
