<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webapp client DAM</title>
<body>
<div body-wrapper>
<h1> Demo client DAM</h1>
<div class="objectif">
<p>Application métier de démonstration .... jeton PSC => jeton d'API</p>
</div>
<div class="token">
            <p> ICI TEST THYMELEAF => <span th:text="${mytest}" /> </p>
            <h3> Token d'API obtenu pour vous par la webapp par exchange du token PSC: </h3>
        </div>
</body>
</html>
